<% if current_user.admin? || current_user.staff? %>
<h1> Create a New evaluator from an existing User</h1>
<% else %>
<h1> <%= current_user.to_label %> </h1>
<% end %>
<br />
<%= render 'form' %>

<% if current_user.admin? || current_user.staff? %>
<%= link_to 'Back', :back %>
<% end %>