<h1>Editing application</h1>

<%= render 'form' %>

<br />
 <br/>

<% if current_user.admin? or current_user.staff? %>
<div id="wrap">
 <%= render :partial => 'partials/assign_evaluators_to_project',:locals => { :button_name => "Create", :applications => @application} %>
 <% end %>



<%= link_to 'Show', @application %>