<!-- THis displays the assignments for a specific evaluator logged into the system -->

<%# @assignments = get_all_my_assignments(current_user.id) %>
 <% if !current_user.admin? and !current_user.staff? %>
 <% if @assignments.nil? || @assignments.empty? %>
  <p> You have not been assigned any reports to score yet.</p>
  <% else %>
  <%= render :partial => 'partials/my_assignments', :locals => {:assignments => @assigments} %>
<% end %>

<br />
<br />
<br />
<br />
<% end %>

<% if current_user.admin? or current_user.staff? %>

<% @applications_3 = Application.includes(:assignments).group(:id).having("count(*) < ?", 3 ).paginate(:page => params[:page], :per_page => 10) %>



 <% if @applications_3.nil? || @applications_3.empty? %>
  <p> All applications have been assigned to at least 3 evaluators!</p>
  <% else %>
  <%= render :partial => 'partials/less_than_three_assigned_to_evaluate', :locals => {:applications => @applications_3} %>
<% end %>

<% end %>



<!-- Show a table of all of the reports that have been assigned to the evaluator:

		-check if the user is an evaluator, otherwise display a list of all reports
		-the table should also display scores
		